<!DOCTYPE html>
<html lang="en">
<!-- 
  Hello there, this website is based on EJS, Express on Node and MongoDB
  Developed by **Anubhav Singh**
  Mail me at admin@formhandler.cf
 -->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/bootstrap.min.css">
  <script src="/bootstrap.bundle.min.js"></script>
  <script src="/popper.min.js"></script>
  <script src="/jquery-3.6.0.min.js"></script>

  <link rel="stylesheet" href="/style.css">
  <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
  <title>Form Handler</title>
</head>

<body>
  <style>
    .nav-item>a:hover {
      background-color: #6c757d;
    }

    li {
      padding: 0.2em !important;
    }
  </style>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-light text-decoration-none">
        <img src="/images/logo.png" class="logo bi me-2" width="50" height="50" alt="logo">
        <span class="fs-4">Form Handler</span>
      </a>

      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="px-4 nav-link text-light item-1" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="/how-to-use" class="px-4 nav-link text-light item-2">How to Use?</a>
        </li>
        <li class="nav-item"><a href="/contact" class="px-4 nav-link text-light item-3">Contact</a></li>
        <% if(currentUser != ""){ %>
        <li class="nav-item"><a href="/create-forms" class="px-4 nav-link text-light item-4">Create Forms</a></li>
        <li class="nav-item"><a href="/form/<%= currentUsername %>" class="px-4 nav-link text-light item-5">My Forms</a>
        </li>
        <% if(currentUsername == "anubhav") { %>
        <li class="nav-item"><a href="/admin" class="px-4 nav-link text-light item-7">Admin</a></li>
        <% } %>
        <li class="nav-item"><a href="/logout" class="px-4 nav-link text-light">Logout</a></li>
        <% } else { %>
        <li class="nav-item"><a href="/login" class="px-4 nav-link text-light item-6">Login</a></li>
        <li class="nav-item"><a href="/register" class="px-4 nav-link text-light item-7">Register</a></li>
        <% } %>



        <%  if(url === "/") { %>
        <script>
          document.querySelector(".item-1, .item-2, .item-3, .item-4 .item-5, .item-6, .item-7").classList.remove(
            "active");
          document.querySelector(".item-1").classList.add("active");
        </script>
        <%  } else if(url === "/how-to-use") { %>
        <script>
          document.querySelector(".item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7").classList.remove(
            "active");
          document.querySelector(".item-2").classList.add("active");
        </script>
        <%  } else if(url === "/contact") { %>
        <script>
          document.querySelector(".item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7").classList.remove(
            "active");
          document.querySelector(".item-3").classList.add("active");
        </script>
        <% } else if(url === "/create-forms") { %>
        <script>
          document.querySelector(".item-1, .item-2, .item-3, item-4, .item-5, .item-6, .item-7").classList.remove(
            "active");
          document.querySelector(".item-4").classList.add("active");
        </script>
        <% } else if(url === "/login") { %>
        <script>
          document.querySelector(".item-1, .item-2, .item-3, item-4, .item-5, .item-6, .item-7").classList.remove(
            "active");
          document.querySelector(".item-6").classList.add("active");
        </script>
        <% } else if(url === "/register") { %>
        <script>
          document.querySelector(".item-1, .item-2, .item-3, item-4, .item-5, .item-6, .item-7").classList.remove(
            "active");
          document.querySelector(".item-7").classList.add("active");
        </script>
        <% } else if(url !== "/message" && url !== "/admin") { %>
        <script>
          document.querySelector(".item-1, .item-2, .item-3, item-4, .item5, .item-6, .item-7").classList.remove(
            "active");
          document.querySelector(".item-5").classList.add("active");
        </script>
        <% } %>
      </ul>
    </header>
  </div>