<%- include("partials/header.ejs") -%>
<style>
    .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 10px;
        margin: auto;
    }

    .form-signin .form-floating:focus-within {
        z-index: 2;
    }

    .form-signin input {
        margin: 3px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
    }

    .form-floating {
        padding: 4px;
    }

</style>

<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>

<body class="text-center">
    <main class="form-signin register">
        <form action="/create-forms" method="post">
            <img class="mb-4" src="images/logo.png" alt="" width="72" height="auto">
            <h1 class="h3 mb-3 fw-normal text-light">Create Forms</h1>

            <div class="form-floating">
                <input type="text" class="form-control" name="formTitle" id="floatingInput" placeholder="Form Title">
                <label for="floatingInput">Form Title</label>
            </div>

            <div class="form-floating">
                <input type="url" class="form-control" data-toggle="tooltip" data-placement="left"
                    title="Write the URL you want the user to redirect after successfull form submission, leave blank for default. (Include https:// or http:// in URL)"
                    name="redirectURL" id="floatingInput" placeholder="Redirect URL">
                <label for="floatingInput">Redirect URL</label>
            </div>

            <button class="w-100 btn btn-lg btn-primary" type="submit">Create Form</button>
        </form>
    </main>

    <%- include("partials/footer.ejs") -%>