<%- include("partials/header.ejs") -%>

<div class="px-4 py-5 my-5 text-center text-light">
    <img class="d-block mx-auto mb-4" src="images/logo.png" alt="" width="72" height="72">
    <h1 class="display-5 fw-bold">Failed</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Something went wrong.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button type="button" onclick="history.back()"
                class="btn btn-light text-dark btn-outline-secondary btn-lg px-4">Go Back</button>
        </div>
    </div>
</div>

<%- include("partials/footer.ejs") -%>