<%- include("partials/header.ejs") -%>
<div class="text-light container px-4">
    <h2 class="title display-4">How to use the link?</h2>
    <p class="how-text">You have to create the forms as usual, and just have to follow a additional <br> step of adding
        action attribute to this website so that data can be forwarded directly to you.</p>
    <p class="display-5">Follow these steps:</p>
    <ol class="steps">
        <li>Register on this websites</li>
        <li>Save the link given to you, which ends with your username</li>
        <li>Create a HTML form normally as you do.</li>
        <li>Add action attribute to HTML form and give its value as the link given to you</li>
    </ol>
    <h2>Example</h2>
    <img src="images/code.png" width="500vw" alt="">

</div>
<%- include("partials/footer.ejs") -%>